.navbar-nav a {
  color: #030303;
}
.sidenavbar {
  color: #030303;
  background: transparent;
  background: url("../../images/godzilla-2-b.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  width: 100%;
  height: 100%;
  z-index: -9;
  padding-right: 3.687rem;
}
.sidenavbar li {
  margin: 0.5rem 0;
}
div[role="navigation"] {
  margin: 0;
}
/* 
@media screen and (max-width: 576px){
  .sidenavbar {
    width: 150px;
  }
} */