body {
  background: #020202;
}

:root {
  --main-black: #020202;
  --main-blue: #003cff;
  --main-red: #e03011;
}

/* div[role="main"] {
  filter: blur(10px);
  box-shadow: inset 0 0 5rem rgba(255, 0, 0, 0.5);
} */

/* holdover from previous */

/* 


Modularscale:

194.62em, 129.746em, 86.498em, 57.665em, 38.443em
25.629em, 17.086em, 11.391em, 7.594em, 5.063em
3.375em, 2.25em, 1.5em, 1em, 0.667em, 
0.444em, 0.296em, 0.198em, 0.132em, 0.088em

// if ever i get SASS going
// $mscale1: 1em; $mscale2: 1.5em; $mscale3: 2.25em; $mscale4: 3.375em; $mscale5: 5.063em; $mscale6: 7.594em; 

COLOR PALLETE:

$color1: #79b473ff;
$color2: #006989ff;
$color3: #000501ff;
$color4: #074f57ff;
$color5: #e4c5afff;


*/

:root {
  --header-font: "Special Elite", cursive;
  --text-font: "Roboto", sans-serif;
  --color-white: #f7f7f7;
  --color1: #050517ff;
  --color2: #92140cff;
  --color3: #a4bab7ff;
  --color4: #eff2c0ff;
  --color5: #e2fcefff;
}

* {
  font-family: var(--text-font), -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html,
body {
  min-height: 100%;
}

.bg-subtlenet {
  /* background: url(../images/subtlenet2.png); */
  background: var(--color-white);
}

.intro-para-row {
  background: var(--color3) !important;
  margin: 0 !important;
  min-width: 100% !important;
}

.custom-blockquote {
  color: #202020 !important;
  background: whitesmoke;
  /* border-style: double; */
  border: 1px inset rgb(0, 0, 77);
  box-shadow: 4px 4px #cacaca;
  margin: auto;
  margin-bottom: 3em;
}

.welcome-header {
  text-align: center;
  font-weight: 400;
  font-family: var(--header-font);
  font-size: 1.5rem;
  line-height: 3.375rem;
  margin-bottom: 0.667rem;
}

.profile-photo {
  float: left;
  margin-top: 0.5em;
  margin-right: 1.5em;
  margin-bottom: 0.5em;
  height: 160px;
}

.content-wrap > * {
  background: var(--color-white);
}

.content-wrap .row {
  padding: 2.25rem 1.5rem;
}

.mini-callout {
  display: table;
  font-family: monospace;
  font-size: 1.5em;
  line-height: 1em;
  text-align: center;
  padding: 0.667em;
}

.mini-callout footer {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 0.667em;
  font-weight: 600;
  float: right;
  color: #777;
}

.callout-index {
  position: relative;
  height: 100%;
  background: linear-gradient(#d5edea, #001f58);
  background-image: url(../images/godzilla-2.jpg);
  background-size: cover;
  background-position: 50% 42%;
  padding: 0 !important;
  border: none !important;
  margin: auto;
  margin-bottom: 0;
}

.header-index,
.subheader-index {
  text-align: left;
}

.header-index {
  font-family: var(--header-font);
  color: var(--color1);
  font-size: 3.375rem;
  font-weight: 900;
  text-shadow: 1px 1px var(--color-white);
  padding-top: 3rem;
  margin-bottom: 0;
}

.subheader-index {
  font-family: var(--text-font);
  color: var(--color1);
  font-size: 1.5em;
  font-weight: 500;
  text-shadow: 1px 1px var(--color-white);
}

.callout-other-pages {
  position: relative;
  max-height: 7.594rem;
  /* min-height: 25.629em; */
  /* padding-top: 11.391em !important; */
  padding: 0 !important;
  border: none !important;
  width: auto;
  margin: auto;
  margin-bottom: 1rem;
}

.header-other-pages {
  color: var(--color1);
  text-align: right;
  font-size: 1.5em;
  font-weight: 800;
  /* text-shadow: .5px .5px black; */
}

.subheader-other-pages {
  /* padding-top: 1.5em; */
  color: white;
  text-align: right;
  font-size: 2.25em;
  font-weight: 600;
  text-shadow: 0.1em 0.1em var(--color1);
  text-transform: uppercase;
}

.top-bar-custom {
  background: transparent;
  width: 100%;
  overflow: hidden;
  padding: 0.667rem 1.5rem;
}

.top-bar-menu li > a {
  color: var(--color-white);
  text-shadow: 1px 1px #000000ff;
  font-weight: 700;
  padding: 0.5em;
}

.text-link {
  color: var(--color2);
}

#about-me {
  text-align: justify;
  margin-bottom: 2.25em;
  padding: 2rem 1rem;
}

#index-last-row {
  text-align: center;
  margin: auto;
  background: var(--color3);
  color: var(--color1);
}

#index-last-row:first-child {
  margin-top: 1rem;
}

#index-last-row p {
  text-align: justify;
}

#index-last-row i.fa {
  font-size: 3.375rem;
  margin-bottom: 0.296em;
}

#index-last-row hr {
  display: none;
}

#skillsbox {
  margin: auto;
  margin-top: 3.375em;
  text-align: center;
}

#quotebox {
  background: #f7f7f7;
  padding: 1rem;
  text-align: center;
}

.information-container {
  text-align: left;
  display: inline-block;
}

.portfolio-dimmer {
  position: relative !important;
  z-index: 1 !important;
}

.contact-form {
  margin: auto;
  padding: 2.25rem 1rem 1rem;
  width: 75%;
}
.contact-container {
  height: 100%;
}
.contact-page-icons{
  list-style: none;
}
.contact-page-icons > a{
  margin-right: 1rem;
  font-size: xx-large;
}

div[role="main"] {
  background: #030303 !important;
  color: #ffffff !important;
}
