/* holdover from previous */
/* Modularscale:

194.62em, 129.746em, 86.498em, 57.665em, 38.443em
25.629em, 17.086em, 11.391em, 7.594em, 5.063em
3.375em, 2.25em, 1.5em, 1em, 0.667em, 
0.444em, 0.296em, 0.198em, 0.132em, 0.088em

// if ever i get SASS going
// $mscale1: 1em; $mscale2: 1.5em; $mscale3: 2.25em; $mscale4: 3.375em; $mscale5: 5.063em; $mscale6: 7.594em; 

COLOR PALLETE:
$color1: #79b473ff;
$color2: #006989ff;
$color3: #000501ff;
$color4: #074f57ff;
$color5: #e4c5afff;
*/

:root {
  --header-font: "Special Elite", cursive;
  --text-font: "Roboto", sans-serif;
  --color-white: #f7f7f7;
  --color1: #050517ff;
  --color2: #92140cff;
  --color3: #a4bab7ff;
  --color4: #eff2c0ff;
  --color5: #e2fcefff;
  --main-black: #020202;
  --main-blue: #003cff;
  --main-red: #e03011;
}

/* * {
  font-family: var(--text-font), -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
} */

html,
body {
  min-height: 100%;
  background: var(--main-black);
}

.bg-subtlenet {
  /* background: url(../images/subtlenet2.png); */
  background: var(--color-white);
}
.homepage-header-btns {
  position: absolute;
  bottom: 3.375rem;
  right: 1.5rem;
}
.intro-para-row {
  background: var(--color3) !important;
  margin: 0 !important;
  padding: 5.063rem 0 !important;
  min-width: 100% !important;
}

.custom-blockquote {
  color: #202020 !important;
  background: whitesmoke;
  /* border-style: double; */
  border: 1px inset rgb(0, 0, 77);
  box-shadow: 4px 4px #cacaca;
  margin: auto;
  margin-bottom: 3em;
}

.welcome-header {
  text-align: center;
  font-weight: 400;
  font-family: var(--header-font);
  font-size: 3.375rem;
  line-height: 3.375rem;
  margin-bottom: 1.5rem;
}

.profile-photo {
  float: left;
  /* margin-top: 0.667em; */
  margin-right: 1.5em;
  margin-bottom: 0.667em;
  width: inherit;
  max-width: 30%;
}

.content-wrap > * {
  background: var(--color-white);
}

.content-wrap .row {
  padding: 2.25rem 1.5rem;
}

.mini-callout {
  display: table;
  font-family: monospace;
  font-size: 1.5em;
  line-height: 1em;
  text-align: center;
  padding: 0.667em;
}

.mini-callout footer {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 0.667em;
  font-weight: 600;
  float: right;
  color: #777;
}

.callout-index {
  position: relative;
  height: 100%;
  background: linear-gradient(#d5edea, #001f58);
  background-image: url(../images/godzilla-2.jpg);
  background-size: cover;
  background-position: 69.999% 20%;
  padding: 0 !important;
  border: none !important;
  margin: auto;
  margin-bottom: 0;
}

.header-index,
.subheader-index {
  text-align: left;
}

.header-index {
  font-family: var(--header-font);
  color: var(--color1);
  font-size: 3.375rem;
  font-weight: 900;
  text-shadow: 1px 1px var(--color-white);
  padding-top: 3rem;
  margin-bottom: 0;
}

.subheader-index {
  font-family: var(--text-font);
  color: var(--color1);
  font-size: 1.5em;
  font-weight: 500;
  text-shadow: 1px 1px var(--color-white);
}

.callout-other-pages {
  position: relative;
  max-height: 7.594rem;
  /* min-height: 25.629em; */
  /* padding-top: 11.391em !important; */
  padding: 0 !important;
  border: none !important;
  width: auto;
  margin: auto;
  margin-bottom: 1rem;
}

.header-other-pages {
  color: var(--color1);
  text-align: right;
  font-size: 1.5em;
  font-weight: 800;
  /* text-shadow: .5px .5px black; */
}

.subheader-other-pages {
  /* padding-top: 1.5em; */
  color: white;
  text-align: right;
  font-size: 2.25em;
  font-weight: 600;
  text-shadow: 0.1em 0.1em var(--color1);
  text-transform: uppercase;
}

.top-bar-custom {
  background: transparent;
  width: 100%;
  overflow: hidden;
  padding: 0.667rem 5.063rem;
}

.top-bar-menu li > a {
  color: var(--color-white);
  text-shadow: 1px 1px #000000ff;
  font-weight: 700;
  padding: 0.5em;
}

.text-link {
  color: #4183c4!important;
  font-weight: 600 !important;
}

#about-me {
  text-align: justify;
  margin-bottom: 2.25em;
  padding: 2rem 1rem;
  font-size: 1.0742rem;
}

#index-last-row {
  text-align: center;
  margin: auto;
  background: var(--color3);
  color: var(--color1);
}

#index-last-row:first-child {
  margin-top: 1rem;
}

#index-last-row p {
  text-align: justify;
}

#index-last-row i.fa {
  font-size: 3.375rem;
  margin-bottom: 0.296em;
}

#index-last-row hr {
  display: none;
}

.skillsbox {
  /* margin: auto; */
  margin: 5.063rem 0 !important;
  text-align: left;
}

.quotebox {
  background: var(--color-white);
  padding: 5.063rem 2.25rem 7.594rem;
}
.index-quoteblock-vertical-person {
  display: flex;
  margin-left: 1.5rem;
  align-items: center;
}
.index-quoteblock-vertical-avatar {
  border-radius: 50%;
  width: 60px;
  width: 60px;
  margin-bottom: 0.5rem;
}
.index-quoteblock-vertical-quote {
  border-radius: 0 !important;
  margin-left: 0.5rem !important ;
  margin-right: 0.5rem !important ;
  margin-bottom: 1.5rem !important;
  border: none !important;
  background: var(--color4) !important;
  /* width: 80%; */
}
.index-quoteblock-vertical-quote p {
  word-wrap: none;
}
.index-quoteblock-vertical-quote::after {
  /* box-shadow: 0 2px 4px 0 rgba(34, 36, 38, 0.12),
    0 2px 10px 0 rgba(34, 36, 38, 0.15); */
  content: "";
  bottom: -1.25rem;
  left: 2.25rem;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 1.25rem 1.125rem 0 1.125rem;
  border-color: var(--color4) transparent transparent transparent;
  position: absolute;
}
.index-quoteblock-vertical-name {
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 0;
  margin-left: 0.667rem;
}
.index-quoteblock-vertical-info {
  font-style: italic;
  font-size: 14px;
  color: #7a7a7aff;
  margin-bottom: 0;
  margin-left: 0.667rem;
}
.information-container {
  text-align: left;
  display: inline-block;
}

.portfolio-dimmer {
  position: relative !important;
  z-index: 1 !important;
  padding-top: 25% !important;
  height: 100% !important;
}

.contact-form {
  margin: auto;
  padding: 2.25rem 1rem 1rem;
  width: 75%;
}
.contact-form .input {
  box-shadow: 1px 1px #02020233 inset !important;
}
#contact-container {
  background: var(--color-white) !important;
  color: var(--main-black) !important;
  height: 100% !important;
}
.contact-page-icons {
  list-style: none;
}
.contact-page-icons > a {
  margin-right: 1rem;
  font-size: xx-large;
}
.display-error {
  border: 1px var(--main-red) solid !important;
  transition: ease-out 1.25s;
}

div[role="main"] {
  background: var(--color-white) !important;
  color: #ffffff !important;
}
div[role="main"] > .portfolio {
  background: var(--main-black) !important;
  color: #ffffff !important;
  padding: 3.375rem 1rem;
}
div[role="dialog"] {
  background: var(--main-black) !important;
  height: 100% !important;
}

/* small screens  */
@media screen and (max-width: 576px) {
  .contact-form {
    width: 90%;
  }
  .top-bar-custom {
    padding-left: 2.25rem;
  }
  .homepage-header-btns {
    bottom: 1.5rem;
    right: 1.5rem;
  }
  .portfolio {
    padding: 0 !important;
  }
  .profile-photo {
    max-width: 100%;
    padding: 2.25rem;
  }
}

/* over 1300px  */
@media screen and (min-width: 1300px) {
  .profile-photo {
    max-width: 250px;
  }
  .contact-form {
    width: 800px;
  }
  #about-me {
    max-width: 800px;
  }
}
