.card-portfolio {
  position: relative;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #ffffff;
  background-clip: border-box;
  /* box-shadow: pos-x pos-y blur spread color */
  box-shadow: 0px 5px 7px -2px #00000081;
  border: 1px transparent !important;
  border-radius: 0 !important;
  padding: 0;
  margin: 0.198rem;
}
.card-portfolio img {
  width: 100%;
  min-height: 400px;
  max-width: 533px;
}
.card-img-overlay i {
  color: var(--main-red) !important;
  font-size: 24px !important;
  font-weight: 600 !important;
  margin-right: 1rem !important;
  margin-bottom: 0.5rem !important;
  margin-top: 0.25rem !important;
  width: auto !important;
}
.card-img-overlay h2 {
  margin-bottom: 0.33rem;
}

.card-img-overlay {
  color: #ffffff;
  text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
  /* padding-right: 50%; */
  background: #020202aa;
  margin: 0;
  top: auto !important;
}
.card a:hover {
  opacity: 0.66;
}

@media screen and (max-width: 768px) {
  /* .card-img-overlay {
    font-size: xx-large;
  } */
}
@media screen and (max-width: 533px) {
  .card-img-overlay {
    font-size: small;
  }
  .card-portfolio {
    margin: 0 !important;
    box-shadow: none !important;
  }
}
