.card-img-overlay {
  /* text-shadow: #efff0977; */
  color: #070707;
  /* padding-right: 50%; */
  background: #ffffff6e;
  margin: 0;
  margin-top: 12rem;
}
@media screen and (max-width: 768px) {
  .card-img-overlay {
    /* font-size: medium; */
    margin-top: 9rem;
  }
}
@media screen and (max-width: 576px) {
  .card-img-overlay {
    font-size: small;
    margin-top: 6rem;
  }
}
@media screen and (max-width: 400px) {
  .card-img-overlay {
    /* font-size: small; */
    margin-top: 3rem;
  }
}
