.card {
  flex-direction: row-reverse !important;
  /* box-shadow: pos-x pos-y blur spread color */
  box-shadow: 0px 5px 3px -4px #ffffff; 
  border: 1px transparent !important;
  border-radius: 0 !important;
  padding: 0;
  margin: 0.296rem;
}
.card img {
  width: 100%;
}
.card-img-overlay i {
  color: var(--main-red) !important;
  font-size: 24px !important;
  font-weight: 600 !important;
  margin-right: 1rem !important;
  margin-bottom: 0.5rem !important;
  margin-top: 0.25rem !important;
}
.card-img-overlay h2 {
  margin-bottom: 0.33rem;
}

.card-img-overlay {
  color: #ffffff;
  text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
  /* padding-right: 50%; */
  background: #020202aa;
  margin: 0;
  top: auto !important;
}
.card a:hover {
  opacity: 0.66;
}
.card-semantic {
  border: 1px transparent !important;
  background-color: var(--main-black);
  color: #ffffff;
  padding: 2rem 1.25rem;
}
@media screen and (max-width: 768px) {
  /* .card-img-overlay {
    font-size: xx-large;
  } */
  
}
@media screen and (max-width: 576px) {
  .card-img-overlay {
    font-size: small;
  }
  .card {
    margin: auto;
    box-shadow: none !important; 
  }
}
