.footer {
  background: var(--main-black);
  box-shadow: 0 -5px 5px -5px rgb(0, 0, 0);
  padding: 2.25rem 2.25rem 3.375em;
  height: 7.063rem;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  /* position: absolute;
  left: 0;
  right: 0; */
  z-index: 1;
}
.footer-icons > ul > li {
  margin: 0.444rem;
}
.footer-top,
.footer-bottom {
  width: 100%;
}
.footer-left,
.footer-right,
.footer-bottom {
  color: white;
}
.menu.simple {
  list-style: none;
  display: flex;
}

.footer .footer-icons li:last-of-type {
  margin-right: 0;
}

.footer .footer-icons .fa {
  font-size: 2rem;
  color: #fefefe;
}

.footer .footer-icons .fa:hover {
  color: #4a4a4a;
  transition: color 0.3s ease-in;
}
