.head {
  margin: auto;
  z-index: 7;
  padding: 100px 3.36rem 0 0;
  font-size: 1.5rem;
  text-align: right;
  background: var(--main-black);
  color: #ffffffff;
  min-height: 142px;
  /* background: url(../../images/name-header-white-7.png), var(--main-black); */
  background-repeat: no-repeat;
  background-size: cover;
}
.head::before {
  content: "grv //";
}
.homepage-emoji::before {
  content: "🙄";
  font-size: 3.7rem;
}
