.bottom-chevron {
  border: none;
  color: var(--color-white);
  opacity: 0.8;
  background: transparent;
  position: fixed;
  bottom: 0;
  font-size: 50px;
  text-align: center;
  /* margin-right: 0em; */
  /* cursor: pointer; */
  /* padding: 3.145rem 0.5rem 3.145rem .25rem; */
  /* outline-color: transparent !important; */
}
