.card-semantic {
  background-color: transparent !important;
  /* flex-direction: column !important; */
  margin: 0.444rem;
  border: 1px transparent !important;
  color: var(--main-black);
  padding: 2rem 1.25rem;
  width: 100%;
  max-width: 533px;
}
.card-semantic a {
  color: #fff;
}
div[role="list"] {
  padding: 1rem 0 !important;
}
