.sidebar-toggle {
  border: none;
  position: absolute;
  z-index: 99;
  margin-right: 0em;
  right: 0;
  top: 80px;
  background: var(--main-red);
  cursor: pointer;
  padding: 3.145rem 0.5rem 3.145rem .25rem;
  outline-color: transparent !important;
  border-top: 1px outset transparent;
  border-bottom: 1px outset transparent;
  border-left: 1px outset transparent;
  transition: "left .3s ease-out, right .3s ease-out";
}
.sidebar-closed,
.sidebar-opened {
  font-size: xx-large;
}
.sidebar-closed::after {
  content: "◀";
}
.sidebar-opened::after {
  content: "▶";
}
.sidebar-toggle:hover {
  background: var(--main-black);
  color: var(--main-red);
}
.sidebar-toggle > .fa {
  font-size: 28px;
  padding: 4rem 0;
}
.sidebar-opened.small-screen {
  display: none;
}
.sidebar-toggle.small-screen {
  position: absolute;
}
